<div>
    <nav>
        <ul>
        <li>Create new account? <a routerLink = '/signup'>Sign up here</a></li>
        <li>Already have an account? <a routerLink = '/login'>Login here</a></li>
        </ul>
    </nav>
</div>