<div class = "container-fluid">
    <h1>Login</h1>
    <br>

    <h5>{{ feedbk }}</h5>
    <br>

    <form (ngSubmit) = onLoginSubmit()>
        <div class = "form-group">
            <label>Email</label>
            <input required pattern = "^(([a-zA-Z0-9._%+-]+)@([a-zA-Z]+).(com))$" type = "email" [class.is-invalid] = "email.invalid && email.touched"
             name = "email" #email = "ngModel" class = "form-control" [(ngModel)] = "scrumUserLoginData.email" ngModel>
             <div *ngIf = "email.errors && email.invalid && email.touched">
                <small class = "text-danger" *ngIf = "email.errors.pattern">Email must contain '@' and the domain '.com'</small>
                <small class = "text-danger" *ngIf = "email.errors.required">Email is required</small>
             </div>
        </div>

        <div class = "form-group">
            <label>Password</label>
           <input required type = "password" pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*([^a-zA-Z\d\s])).{8,}$" [class.is-invalid] = "password.invalid && password.touched"
            name = "password" #password = "ngModel" class = "form-control" [(ngModel)] = "scrumUserLoginData.password" ngModel>
            <div *ngIf = "password.errors && password.invalid && password.touched">
                <small class = "text-danger" *ngIf = "password.errors.pattern">Password must contain at least 8 characters, one special character and a number</small>
                <small class = "text-danger" *ngIf = "password.errors.required">Password is required</small>
            </div>
        </div>

        <div class = "form-group">
            <label>Project Name</label>
            <input required type = "text" [class.is-invalid] = "projname.invalid && projname.touched" #projname = "ngModel" name = "projname"
             class = "form-control" [(ngModel)] = "scrumUserLoginData.projname" ngModel>
            <small class = "text-danger" [class.d-none] = "projname.valid || projname.untouched">Project name not specified</small>
        </div>

        <button class = "btn btn-primary" type = "submit">Login</button>
    </form>
</div>

<br>
<p>Haven't Registered? <a routerLink = '/signup'>Signup here</a></p>
