<div class="container-fluid">
    <a class="btn bg-primary conn text-white ml-3" (click)= "onClick()">Scrumboard</a>
    <h1>Create a new project</h1>
    <!-- {{ userSignupForm.value | json }} -->
    <!-- {{ email.untouched}} -->
    
    <form #userSignupForm ="ngForm" novalidate (ngSubmit)="onSubmit()" action="">
        <div class="form-group">
            <label for="">Project Name</label>
            <input required type="text" [class.is-invalid]="projectname.invalid && projectname.touched" #projectname="ngModel"
            name="projectname" class="form-control" [(ngModel)] = "createProject.project_name">
            <div *ngIf="projectname.errors && (projectname.invalid || projectname.untouched)">
                <small class="text-danger" [class.d-none]="projectname.valid || projectname.untouched" >Project Name is required</small>
                <small class="text-danger" *ngIf="projectname.errors.pattern">Email must have a @ char</small>
            </div>
        </div>
        <p>{{project_name}}</p>
        <h5>{{feedbk}}</h5>
        <button class="btn btn-primary">Create project</button>
    </form>

</div>