<div class = "container-fluid">
    <h1>Create a new account</h1>
    <br>

    <h5>{{ feedbk }}</h5>

   <!-- <h6>{{ userSignupForm.value | json}}</h6>-->

    <hr>
    <!--<br>-->

    <!--{{ scrumUserModel | json }}-->
    <br>


    <form #userSignupForm = "ngForm" novalidate (ngSubmit) = "onSubmit()">
        <div class = "form-group">
            <label>Email</label>
            <input required pattern = "^(([a-zA-Z0-9._%+-]+)@([a-zA-Z]+).(com))$" type = "email" [class.is-invalid] = "email.invalid && email.touched"
             name = "email" #email = "ngModel" class = "form-control" [(ngModel)] = 'scrumUserModel.email'>
             <div *ngIf = "email.errors && email.invalid && email.touched">
                <small class = "text-danger" *ngIf = "email.errors.pattern">Email must contain '@' and the domain '.com'</small>
                <small class = "text-danger" *ngIf = "email.errors.required">Email is required</small>
             </div>
        </div>

        <div class = "form-group">
            <label>Fullname</label>
            <input required type = "text" [class.is-invalid] = "name.invalid && name.touched" name = "fullname" #name = "ngModel" 
            class = "form-control" [(ngModel)] = 'scrumUserModel.fullname'>
            <small class = "text-danger" [class.d-none] = "name.valid || name.untouched">Fullname is required</small>
        </div>

        <div class = "form-group">
            <label>Password</label>
            <input required type = "password" pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*([^a-zA-Z\d\s])).{8,}$" [class.is-invalid] = "password.invalid && password.touched"
            name = "password" #password = "ngModel" class = "form-control" [(ngModel)] = 'scrumUserModel.password'>
            <div *ngIf = "password.errors && password.invalid && password.touched">
                <small class = "text-danger" *ngIf = "password.errors.pattern">Password must contain at least 8 characters, one special character and a number</small>
                <small class = "text-danger" *ngIf = "password.errors.required">Password is required</small>
            </div>
        </div>

        <div class = "form-group">
            <label>User Type</label>
            <select required class = "custom-select" [class.is-invalid] = "type.invalid && type.touched" name = "usertype" 
            #type = "ngModel" [(ngModel)] = 'scrumUserModel.usertype'>
                <option value = ''></option>
                <option *ngFor = "let type of userTypes">{{ type }}</option>
            </select>
            <small class = "text-danger" [class.d-none] = "type.valid || type.untouched">Select a user type</small>
        </div>
        <button class = "btn btn-primary" type = "submit">Create User</button>
    </form>
</div>

<br>


<p>Already have an account? <a routerLink = '/login'>Login here</a></p>